<app-jumbotron></app-jumbotron>

<div class="row mb-2">
  <div class="col-md-6" *ngFor="let address of addresses">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{ address.label }}</strong>
        <!--
  <h3 class="mb-0">dfdf</h3>
  <div class="mb-1 text-muted">Nov 12</div>
    -->
        <p class="card-text mb-auto">{{ address.line1 }}</p>
        <p class="card-text mb-auto">{{ address.line2 }}</p>
        <p class="card-text mb-auto">{{ address.city }}</p>
        <p class="card-text mb-auto"><span>{{ address.state }}</span>,<span>{{ address.country }}</span>,<span>{{ address.pin }}</span></p>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>

    </div>
  </div>
  <!--
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">Design</strong>
        <h3 class="mb-0">Post title</h3>
        <div class="mb-1 text-muted">Nov 11</div>
        <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="stretched-link">Continue reading</a>
      </div>
    </div>
  </div>
    -->
</div>
