
  
  <app-jumbotron></app-jumbotron>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <form>

      <div class="form-group">
        <label for="senderName">Your Name</label>
        <input type="text" class="form-control" name="senderName" id="senderName" placeholder="John Smith" [(ngModel)]="senderName">
      </div>

      <div class="form-group">
        <label for="senderEmail">Your Email</label>
        <input type="email" class="form-control" name="senderEmail" id="senderEmail" placeholder="name@example.com" [(ngModel)]="senderEmail">
      </div>

      <div class="form-group">
        <label for="senderMessage">Message</label>
        <textarea class="form-control" name="senderMessage" id="senderMessage" rows="5" [(ngModel)]="senderMessage"></textarea>
      </div>

      <div class="form-group text-right">
        <button class="btn btn-primary" (click)="onContactUsFormSubmit()">Send</button>
      </div>

      <p class="text-center" *ngIf="isSent">{{ submitMessage }}</p>

    </form>
  </div>


